/* This is an external CSS */
body {
  margin: 0;
}

.div1 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkslateblue;
}

.div2 {
  background-color: blanchedalmond;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.div3 {
  background-color: blueviolet;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.div4 {
  background-color: coral;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.div5 {
  background-color: chocolate;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.div6 {
  background-color: darksalmon;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.div7 {
  background-color: darkgreen;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.div8 {
  background-color: darkseagreen;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.div9 {
  background-color: darkblue;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
